[submodule "piscine/piscine"]
	path = piscine/piscine
	url = https://github.com/Molasz/42Piscine
[submodule "piscine/piscineReloaded"]
	path = piscine/piscineReloaded
	url = https://github.com/Molasz/42PiscineReloaded
[submodule "piscine/BSQ"]
	path = piscine/BSQ
	url = https://github.com/photocatalysta/42-Piscine-BSQ-Project
[submodule "common-core/rank-0/libft"]
	path = common-core/rank-0/libft
	url = https://github.com/Molasz/42cursus-libft
[submodule "common-core/rank-1/ft_printf"]
	path = common-core/rank-1/ft_printf
	url = https://github.com/Molasz/42cursus-printf
[submodule "common-core/rank-1/get_next_line"]
	path = common-core/rank-1/get_next_line
	url = https://github.com/Molasz/42cursus-get_next_line
[submodule "common-core/rank-2/push_swap"]
	path = common-core/rank-2/push_swap
	url = https://github.com/Molasz/42cursus-push_swap
[submodule "common-core/rank-2/fdf"]
	path = common-core/rank-2/fdf
	url = https://github.com/Molasz/42cursus-FDF
[submodule "common-core/rank-2/pipex"]
	path = common-core/rank-2/pipex
	url = https://github.com/Molasz/42cursus-pipex
[submodule "common-core/rank-3/philosophers"]
	path = common-core/rank-3/philosophers
	url = https://github.com/Molasz/42cursus-philosophers
[submodule "common-core/rank-3/minishell"]
	path = common-core/rank-3/minishell
	url = https://github.com/Molasz/42cursus-minishell
[submodule "common-core/rank-4/cub3d"]
	path = common-core/rank-4/cub3d
	url = https://github.com/Molasz/42cursus-cub3d
[submodule "common-core/rank-5/inception"]
	path = common-core/rank-5/inception
	url = https://github.com/Molasz/42cursus-inception
[submodule "common-core/rank-5/cpp_modules"]
	path = common-core/rank-5/cpp_modules
	url = https://github.com/Molasz/42cursus-cpp_modules
[submodule "common-core/rank-5/webserv"]
	path = common-core/rank-5/webserv
	url = https://github.com/Molasz/42cursus-webserv
[submodule "common-core/rank-6/ft_transcendence"]
	path = common-core/rank-6/ft_transcendence
	url = https://github.com/Molasz/42cursus-ft_transcendence
[submodule "outer-core/libasm"]
	path = outer-core/libasm
	url = https://github.com/Molasz/42outer-libasm
[submodule "outer-core/dr-quine"]
	path = outer-core/dr-quine
	url = https://github.com/Molasz/42outer-dr-quine
[submodule "outer-core/nm"]
	path = outer-core/nm
	url = https://github.com/Molasz/42outer-nm
[submodule "tools/vimrc"]
	path = tools/vimrc
	url = https://github.com/Molasz/vimrc
[submodule "tools/42-graph"]
	path = tools/42-graph
	url = https://github.com/Molasz/42-graph
[submodule "outer-core/malloc"]
	path = outer-core/malloc
	url = https://github.com/Molasz/42outer-malloc
[submodule "outer-core/ls"]
	path = outer-core/ls
	url = git@github.com:Molasz/42outer-ls.git
[submodule "outer-core/piscine-embedded"]
	path = outer-core/piscine-embedded
	url = git@github.com:Molasz/42outer-embedded.git
